*
!Cargo.toml
!Cargo.lock
!rust-toolchain.toml
!rustfmt.toml
!Dockerfile
!Dockerfile.client
!README.md
!crates/
!crates/**
!src/
!src/**
!docker/
!docker/**
!docker-bin/
!docker-bin/**
!docs/
!docs/spec/
!docs/spec/**
