*
!Cargo.toml
!Cargo.lock
!build.rs
!rust-toolchain.toml
!rustfmt.toml
!Dockerfile
!Dockerfile.client
!README.md
!proto/
!proto/**
!crates/
!crates/**
!src/
!src/**
!benches/
!benches/**
!docker/
!docker/**
!docs/
!docs/spec/
!docs/spec/**
